In [1]:
from random import shuffle

def regroup(n, groups, mix=True):
    """ Return n new groups built from given groups.
        If mix is True, each input group is shuffled.
    """
    groups = [list(group) for group in groups]  # copy args
    if mix:
        for group in groups:
            shuffle(group)
    result = tuple([] for _ in range(n))
    i = 0
    for group in groups:
        for item in group:
            result[i].append(item)
            i = (i + 1) % n
    return result

In [2]:
seniores = 'Leonardo Dhienifer Erick Eluvya Cibely Janine'.split()
inclusiva = 'Eduarda Emilly Renato Willian'.split()
seletivo = 'Andressa Ana Ludmilla Julio Leticia '.split()

In [5]:
groups = regroup(8, [seniores, inclusiva, seletivo])
groups

(['Erick', 'Willian'],
 ['Janine', 'Renato'],
 ['Cibely', 'Andressa'],
 ['Leonardo', 'Julio'],
 ['Dhienifer', 'Ludmilla'],
 ['Eluvya', 'Ana'],
 ['Emilly', 'Leticia'],
 ['Eduarda'])

In [6]:
groups = regroup(3, [seniores, inclusiva, seletivo])
for i, group in enumerate(groups, 1):
    print(i, ', '.join(sorted(group)))

1 Cibely, Emilly, Leonardo, Ludmilla, Renato
2 Dhienifer, Eduarda, Janine, Julio, Leticia
3 Ana, Andressa, Eluvya, Erick, Willian