In [1]:
from random import shuffle

def regroup(n, groups, mix=True):
    """ Return n new groups built from given groups.
        If mix is True, each input group is shuffled.
    """
    groups = [list(group) for group in groups]  # copy args
    if mix:
        for group in groups:
            shuffle(group)
    result = tuple([] for _ in range(n))
    i = 0
    for group in groups:
        for item in group:
            result[i].append(item)
            i = (i + 1) % n
    return result

In [2]:
seniores = 'Eluvya Janine Cibely Dhienifer Leonardo'.split()  # Erick 
inclusiva = 'Emilly Renato'.split()  # Eduarda Willian
seletivo = 'Leticia Ana Cíntia'.split()  # Andressa Julio Ludmilla
stakeholders = ['Ju Dantas', 'Juliane'] # , 'Alejandro'

In [3]:
groups = regroup(4, [seniores, inclusiva, seletivo, stakeholders])
groups

(['Cibely', 'Eluvya', 'Leticia'],
 ['Leonardo', 'Renato', 'Cíntia'],
 ['Janine', 'Emilly', 'Ju Dantas'],
 ['Dhienifer', 'Ana', 'Juliane'])

In [4]:
groups = regroup(3, [seniores, inclusiva, seletivo, stakeholders])
for i, group in enumerate(groups, 1):
    print(i, ', '.join(sorted(group)))

1 Cíntia, Eluvya, Emilly, Janine
2 Dhienifer, Juliane, Leonardo, Leticia
3 Ana, Cibely, Ju Dantas, Renato